
.display-form{
  display: block;
  margin-top: 20px;
  width: 200px;
  background-color: beige;
}

.save{
  background-color: rgb(7, 146, 7);
  border: solid 1px;
  border-radius: 3px;
  padding-top: 3px;
  padding-left:3px;
  padding-right: 5px;
  padding-bottom:3px ;
  color: black;
  font-size: bold;
  font-family: Arial;
  font-size: 12px;
  border-color: rgb(116, 4, 4);
  margin-top: 10px;
  margin-left: 60px;
}

#add-btn{
  background-color: rgb(24, 145, 24);
  border: none;
  border-radius: 3px;
  color: rgb(2, 2, 2);
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
}

