    body{
      background-color: rgb(72, 67, 67);
      color: white;
      font-size: 18px;
      font-weight: bold;
      align-items: center;
      text-align: center;
    
    }

      li{
        
        margin: 10px;
       object-fit: cover;
      }

      button{
        border: none;
        background-color: red;
        border-radius: 5px;
        margin-left: 10px;
        color: black;
        font-weight: bold;
        font-size: 17px;
        cursor: pointer;
      }

      div{
        background-color: rgb(110, 67, 75);
        border-radius: 5px;
        width: 7rem;
      }

      ul{
        margin: 5px;
        margin-left: 53rem;
      }